<div class="box">
    <h2>Strona główna</h2>
    <button id="btn-editable-iframe" class="btn btn-primary">Edytuj</button>
    <button id="save-button" class="btn btn-success" disabled>Zapisz</button>
</div>

<div class="iframe-content">
    <iframe class="auto-height-iframe" id="editable-iframe" src="@Url.Action("Index", "Home",new { Area = "" })" data-auto-heihgt="true" width="100%"></iframe>
</div>





