@model GEST.Models.Achievements

@{
    ViewData["Title"] = "Osiągnięcia - Usuwanie";
}
<div class="box">
    <h2>Usuwanie</h2>
    <p>Czy napewno chcesz usunąć?</p>
    <div class="line"></div>
<dl>
        <dt>Tytuł</dt>
        <dd><p>@Html.DisplayFor(model => model.Title)</p></dd>
    </dl>

    <div class="line"></div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-dark back-button">Anuluj</a>
    </form>
</div>
