@model GEST.Areas.Admin.Models.Admin
@{
    Layout = "../Shared/_LayoutBlank.cshtml";
}

<form asp-area="Admin" asp-action="ResetPassword" method="post" class="form-signin">
    <img class="mb-4" src="~/img/gestLogo.png" alt="" width="130">
    <h1 class="h3 mb-3 font-weight-normal">Panel Administratora</h1>
    <label asp-for="Email">E-mail</label>
    <input asp-for="Email" class="form-control mb-3" placeholder="E-mail">
    @if (ViewData["ResetFlag"] != null)
    {
                <p class="text-danger">@ViewData["ResetFlag"]</p>
    }
    <button class="btn btn btn-primary btn-block" type="submit">Przypomnij hasło</button>
</form>
