@model GEST.Areas.Admin.ViewModels.ResetPasswordViewModel
@{
    Layout = "../Shared/_LayoutBlank.cshtml";
}
<form asp-action="ResetPasswordConfirm" method="post" class="form-signin">
    <img class="mb-4" src="~/img/gestLogo.png" alt="" width="130">
    <h1 class="h3 mb-3 font-weight-normal">Resetowanie hasła</h1>
    <input type="hidden" asp-for="Token" />
    <label asp-for="Password" for="inputNewPassword" class="sr-only">Nowe hasło</label>
    <input asp-for="Password" type="password" id="inputNewPassword" class="form-control" placeholder="Nowe hasło" required="">
    <label asp-for="ConfirmPassword" for="inputConfirmPassword" class="sr-only">Potwierdź hasło</label>
    <input asp-for="ConfirmPassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="Potwierdź hasło" required="">
    @if (ViewData["ResetFlag"] != null)
    {
            <p>@ViewData["ResetFlag"]</p>
    }
    <button class="btn btn btn-primary btn-block" type="submit">Zresetuj hasło</button>
</form>
